*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}


.container{
    margin: 100px auto;
    width: 40%;
    height: 230px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    padding: 5px;
    border-radius: 5px;

}
.bad-word{
    width: 100%;
    height: 20px;
    font-size: 16px;
}
.title{
    font-size: 14px;
    font-weight: 600;
    font-size: 16px;

}
.words{
    color: red;
    font-size: 16px;
    font-weight: 600;
}
.add-word{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.input-word{
    padding-left: 5px;
    width: 70%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;


}
.add{
    width: 14%;
    height: 40px;
    background-color: yellow;
    color: black;
    border: 1px solid yellow;
    border-radius: 5px;

}
.reset{
    width: 14%;
    height: 40px;
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 5px;

}
#textarea{
    padding-left: 5px;
    padding-top: 5px;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    resize: none;
}
.button{
    width: 90%;
    margin: 0 auto;
    height: 50px;
}
.cenzor{
    width: 40%;
    height: 40px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 5px;
    margin-left: 30px;

}
.clear{
    width: 40%;
    height: 40px;
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    margin-left: 30px;

}
.input-word:focus{
    outline: none;
    border: 1px solid rgb(0, 85, 255);
    box-shadow: 0px 0px 1px 2px rgb(0, 85, 255);
}
#textarea:focus{
    outline: none;
    border: 1px solid rgb(0, 85, 255);
    box-shadow: 0px 0px 1px 2px rgb(0, 85, 255);
}
.add:focus{
    outline: none;
    border: 1px solid yellow;
    box-shadow: 0px 0px 1px 2px yellow;
}
.reset:focus{
    outline: none;
    border: 1px solid red;
    box-shadow: 0px 0px 1px 2px red;
}
.clear:focus{
    outline: none;
    border: 1px solid red;
    box-shadow: 0px 0px 1px 2px red;
}
.cenzor:focus{
    outline: none;
    border: 1px solid green;
    box-shadow: 0px 0px 1px 2px green;
}
.add:hover{
    background-color: rgb(179, 179, 11);
}
.reset:hover{
  background-color: darkred;
}
.clear:hover{
  background-color: darkred;
}
.cenzor:hover{
    background-color: darkgreen;
}
