<header>
    <ul class="nav nav-tabs">
        <li class="text">
            <p>Last works >>></p>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ 'cenzor' ]" routerLinkActive="active text-success">Cenzor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ 'users-list' ]" routerLinkActive="active text-success">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ 'task-list' ]" routerLinkActive="active text-success">Task</a>
        </li>
        <li class="nav-item back">
            <a class=" nav-link home" [routerLink]="[ '/home' ]" routerLinkActive="active">Back to >>> Home</a>
        </li>
    </ul>
</header>
