
  
  <div class="conteiner">
    <div class="task">
      <div class="imgBlock">
        <img src="assets/image/cenzor.png" class="img" alt="">
        <div class="heаder">Angular list of prohibited words:</div>
        <p class="text">Angular list of prohibited words</p>
      </div>
      <button class=" link" [routerLink]="[ '/works/cenzor' ]">details</button>
    </div>
    <div class="task">
      <div class="imgBlock">
        <img src="assets/image/user-list.png" class="img" alt="">
        <div class="heаder">Angular user list</div>
        <p class="text">Angular user list</p>
      </div>
      <button class=" link" [routerLink]="[ '/works/users-list' ]">details</button>
    </div>
    <div class="task">
      <div class="imgBlock">
        <img src="assets/image/task-list.png" class="img" alt="">
        <div class="heаder">Angular task list</div>
        <p class="text">Angular task list</p>
      </div>
      <button class=" link" [routerLink]="[ '/works/task-list' ]">details</button>
    </div>
    
   
  
  </div>